<div ng-controller="RegistermodalCtrl" id="Registermodal">

<div id="text_field0" ng-click="text_field0Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="text_field0.value">
  </label>
</div>
</div>

<div id="Password_Reg" ng-click="Password_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Password" ng-model="Password_Reg.value">
  </label>
</div>
</div>

<div id="Email_Reg" ng-click="Email_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="Email_Reg.value">
  </label>
</div>
</div>

<div id="FirstName_Reg" ng-click="FirstName_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="FirstName_Reg.value">
  </label>
</div>
</div>

<div id="LastName_Reg" ng-click="LastName_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="LastName_Reg.value">
  </label>
</div>
</div>

<div id="Location_Reg" ng-click="Location_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Location" ng-model="Location_Reg.value">
  </label>
</div>
</div>

<div id="Industry_Reg" ng-click="Industry_RegTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Industry" ng-model="Industry_Reg.value">
  </label>
</div>
</div>

<div id="Register" ng-click="RegisterTap()">
<button class="button button-positive">
  Register
</button>
</div>

<div id="button8" ng-click="button8Tap()">
<button class="button button-positive">
  Cancel
</button>
</div>

</div>