<div ng-controller="KimonoCtrl" id="Kimono">

<div id="picture_field0" ng-click="picture_field0Tap()">
<img ng-src="http://i.imgur.com/2fvijCU.png"></img>

</div>

<div id="button1" ng-click="button1Tap()">
<button class="button button-positive">
  Find Mentor
</button>
</div>

<div id="text2" ng-click="text2Tap()">
<p class="lead">
  {{ Mentors.name.text }}
</p>
</div>

<div id="text3" ng-click="text3Tap()">
<p class="lead">
  {{ Mentors.city }}
</p>
</div>

<div id="text4" ng-click="text4Tap()">
<p class="lead">
  {{ Mentors.industry }}
</p>
</div>

<div id="Mentor Me " ng-click="MentorMeTap()">
<button class="button button-positive">
  Mentor Me
</button>
</div>

</div>