<div ng-controller="RegisterCtrl" id="Register">

<div id="text_field0" ng-click="text_field0Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="text_field0.value">
  </label>
</div>
</div>

<div id="text_field1" ng-click="text_field1Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Password" ng-model="text_field1.value">
  </label>
</div>
</div>

<div id="text_field2" ng-click="text_field2Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Location" ng-model="text_field2.value">
  </label>
</div>
</div>

<div id="button3" ng-click="button3Tap()">
<button class="button button-positive">
  Register
</button>
</div>

</div>